body{
background: url(images/background.jpg);
}
h1{
	text-align: center;
	color:white;
}
.start{
	width:250px;
	padding: 2px;
	/*height:100px;*/
	margin: 0 auto;
	background:blue;
	border-radius:20px;
}